{% extends 'base.html' %}
{% load getattribute %}

{% block content %}
    <h3 class="mb-3">Products</h3>
    <a href="create" class="btn btn-primary mb-3" role="button">Add {{ title }}</a>
    <div class="card">
        <table class="table mb-0">
            <thead>
            <tr>
                {% for field in field_list %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    {% for field in field_list %}
                        {% if forloop.first %}
                            <td class="align-middle"><a href="edit/{{ object.id }}">{{ object|getattribute:field }}</a>
                            </td>
                        {% else %}
                            <td class="align-middle">{{ object|getattribute:field }}</td>
                        {% endif %}
                    {% endfor %}
                    {#                    <td class="text-right">#}
                    {#                        <a href="fdg" class="btn btn-primary">View results</a>#}
                    {#                    </td>#}
                </tr>
            {% empty %}
                <tr>
                    <td class="bg-light text-center font-italic" colspan="5">You haven't created any quiz yet.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if is_paginated %}

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.number > 1 %}
                    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                {% endif %}
                {% if page_obj.number > 3 %}
                    <li class="page-item disabled"><p class="page-link">...</p></li>
                {% endif %}
                {% if page_obj.number > 2 %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                    </li>
                {% endif %}
                <li class="page-item active"><p class="page-link">{{ page_obj.number }}</p></li>
                {% if page_obj.number < page_obj.paginator.num_pages|add:-1 %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    </li>
                {% endif %}
                {% if page_obj.number < page_obj.paginator.num_pages|add:-2 %}
                    <li class="page-item disabled"><p class="page-link">...</p></li>
                {% endif %}
                {% if page_obj.number < page_obj.paginator.num_pages %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}