a {
    text-decoration: none;
    color: #0090b9;
}

a:hover, a:focus {
    text-decoration: none;
    color: #00187a;
}

label {
    margin-bottom: 0;
}

thead td{
    cursor: pointer;
    background-color: #cccccc;
}
thead td:hover{
    background-color: #aaaaaa;
}